.donut {
    width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.donut__frame,
.donut__circle {
    stroke-width: 1px;
    fill: none;
}

.donut__frame {
    stroke: #00000021;
}

.donut__circle {
    /*stroke: #000;*/
    stroke-linecap: round;
}

.donut__canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 2;
}

.donut__circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    animation: donut-fill 2s reverse;
}

.donut__circle[stroke-dasharray='0 100'] {
    stroke: none;
}

.donut__text {
    font-family: monospace;
    font-size: 3rem;
    letter-spacing: -0.15rem;
    text-align: center;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    z-index: 3;
    transform: translateY(-50%);
    animation: text-slideup 2s linear;
}

.donut.is--negative .donut__circle {
    transform: rotate(-90deg) scaleY(-1);
}